# Attempt at prompt 2

Need to sort training data so that X = weather for 7 days, y = weather for next 7 days - currently unsure about nature of overlap

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import re

In [2]:
data_dir = '../metdata'

In [3]:
files = os.listdir(data_dir)
files = [os.path.join(data_dir,x) for x in files]

In [4]:
pattern = r"([-]?\d+[\.]?\d+)N_([-]?\d+[\.]?\d+)E\.csv"
parsed_latlon = []
for file in files:
    match = re.search(pattern, file)
    if match:
        latitude = match.group(1)
        longitude = match.group(2)
    parsed_latlon.append((float(latitude), float(longitude)))
lat, lon = zip(*parsed_latlon)

In [5]:
kelvin_to_cels = -273.15

def readfile(path, index):
    df = pd.read_csv(path)
    headings = ["year", "month", "day", "hour", "temperature(celsius)", "precipitation", "u-wind", "v-wind"]
    df.columns = headings
    df["temperature(celsius)"] = df["temperature(celsius)"] + kelvin_to_cels
    df["wind-speed"] = np.sqrt(df["u-wind"]**2 + df["v-wind"]**2)
    df["longitude"] = lon[index]
    df["latitude"] = lat[index]
    df['datetime'] = pd.to_datetime(df[['year', 'month', 'day', 'hour']])
    df['week_num'] = df['datetime'].dt.isocalendar().week
    df['day_num'] = df['datetime'].dt.dayofyear
    return df

In [6]:
def join_datasets(files):
    dfs = []
    for i, file in enumerate(files):
        df = readfile(file, i)
        dfs.append(df)
    dfs = pd.concat(dfs, axis = 0)
    dfs.reset_index(drop=True, inplace=True)
    return dfs

dfs = join_datasets(files)
dfs_indices = np.random.choice(dfs.shape[0], int(dfs.shape[0]*0.2))
dfs = dfs.sample(int(dfs.shape[0]//10))
dfs

,year,month,day,hour,temperature(celsius),precipitation,u-wind,v-wind,wind-speed,longitude,latitude,datetime,week_num,day_num
3615842,2002,6,24,13,15.89,8.248100e-05,8.11370,-3.59150,8.873049,18.50,-33.90,2002-06-24 13:00:00,26,175
797313,1992,12,14,12,5.64,4.524400e-06,3.17350,2.95060,4.333260,10.75,59.92,1992-12-14 12:00:00,51,349
1824771,1993,2,28,9,10.21,2.376700e-04,-8.52820,5.69960,10.257467,12.46,41.90,1993-02-28 09:00:00,8,59
463555,1993,11,17,21,9.59,1.436000e-06,-1.67780,14.26700,14.365316,359.90,51.50,1993-11-17 21:00:00,46,321
144218,1996,6,14,3,17.44,0.000000e+00,1.86260,0.56415,1.946161,286.01,40.75,1996-06-14 03:00:00,24,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176782,2000,3,1,23,4.40,2.435300e-08,-0.12773,3.13610,3.138700,286.01,40.75,2000-03-01 23:00:00,9,61
2329154,2011,9,13,9,1.01,9.858500e-11,3.27930,-5.11620,6.076949,265.83,58.76,2011-09-13 09:00:00,37,256
343795,1980,3,20,21,3.27,1.868000e-06,-0.63096,-3.60560,3.660391,359.90,51.50,1980-03-20 21:00:00,12,80
1501933,1995,5,2,18,28.40,-3.725300e-09,0.06199,1.59600,1.597203,78.50,17.36,1995-05-02 18:00:00,18,122
1989554,2011,12,17,8,12.29,6.886000e-04,12.68500,-7.69630,14.837192,12.46,41.90,2011-12-17 08:00:00,50,351

In [7]:
dfs.sort_values(by=["datetime"], inplace=True)
dfs.reset_index(drop=True, inplace=True)
dfs

,year,month,day,hour,temperature(celsius),precipitation,u-wind,v-wind,wind-speed,longitude,latitude,datetime,week_num,day_num
0,1980,1,1,1,-1.54,0.000059,-1.56160,-3.39770,3.739380,10.75,59.92,1980-01-01 01:00:00,1,1
1,1980,1,1,3,23.40,0.000000,1.04900,2.27480,2.505018,78.50,17.36,1980-01-01 03:00:00,1,1
2,1980,1,1,4,25.09,0.000074,-1.24990,-1.83050,2.216524,283.20,18.00,1980-01-01 04:00:00,1,1
3,1980,1,1,4,18.23,0.000055,12.25400,3.42530,12.723726,18.50,-33.90,1980-01-01 04:00:00,1,1
4,1980,1,1,5,-4.84,0.000002,-0.92572,-0.86012,1.263631,280.63,43.64,1980-01-01 05:00:00,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410249,2018,12,31,19,10.00,0.000038,5.47210,2.26770,5.923372,359.90,51.50,2018-12-31 19:00:00,1,365
410250,2018,12,31,20,17.70,0.000000,-0.83881,0.99260,1.299560,78.50,17.36,2018-12-31 20:00:00,1,365
410251,2018,12,31,21,9.90,0.000014,6.98000,0.73590,7.018686,359.90,51.50,2018-12-31 21:00:00,1,365
410252,2018,12,31,22,15.64,0.000000,-0.51342,0.40313,0.652774,78.50,17.36,2018-12-31 22:00:00,1,365
410253,2018,12,31,22,-13.72,0.000000,0.92886,4.14320,4.246044,245.94,51.03,2018-12-31 22:00:00,1,365

In [8]:
dfs["X"] = dfs["week_num"] % 2 == 1

dfs

,year,month,day,hour,temperature(celsius),precipitation,u-wind,v-wind,wind-speed,longitude,latitude,datetime,week_num,day_num,X
0,1980,1,1,1,-1.54,0.000059,-1.56160,-3.39770,3.739380,10.75,59.92,1980-01-01 01:00:00,1,1,True
1,1980,1,1,3,23.40,0.000000,1.04900,2.27480,2.505018,78.50,17.36,1980-01-01 03:00:00,1,1,True
2,1980,1,1,4,25.09,0.000074,-1.24990,-1.83050,2.216524,283.20,18.00,1980-01-01 04:00:00,1,1,True
3,1980,1,1,4,18.23,0.000055,12.25400,3.42530,12.723726,18.50,-33.90,1980-01-01 04:00:00,1,1,True
4,1980,1,1,5,-4.84,0.000002,-0.92572,-0.86012,1.263631,280.63,43.64,1980-01-01 05:00:00,1,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410249,2018,12,31,19,10.00,0.000038,5.47210,2.26770,5.923372,359.90,51.50,2018-12-31 19:00:00,1,365,True
410250,2018,12,31,20,17.70,0.000000,-0.83881,0.99260,1.299560,78.50,17.36,2018-12-31 20:00:00,1,365,True
410251,2018,12,31,21,9.90,0.000014,6.98000,0.73590,7.018686,359.90,51.50,2018-12-31 21:00:00,1,365,True
410252,2018,12,31,22,15.64,0.000000,-0.51342,0.40313,0.652774,78.50,17.36,2018-12-31 22:00:00,1,365,True
410253,2018,12,31,22,-13.72,0.000000,0.92886,4.14320,4.246044,245.94,51.03,2018-12-31 22:00:00,1,365,True

In [9]:
test_data = dfs[dfs["year"]==2018]
rest = dfs[dfs["year"]!=2018]
test_data

,year,month,day,hour,temperature(celsius),precipitation,u-wind,v-wind,wind-speed,longitude,latitude,datetime,week_num,day_num,X
399575,2018,1,1,0,13.82,0.000000,12.05500,-8.74570,14.893297,5.39,43.28,2018-01-01 00:00:00,1,1,True
399576,2018,1,1,0,-26.54,0.000000,-1.65060,3.84850,4.187533,245.94,51.03,2018-01-01 00:00:00,1,1,True
399577,2018,1,1,2,28.21,0.000000,4.00870,0.57191,4.049291,151.00,-33.50,2018-01-01 02:00:00,1,1,True
399578,2018,1,1,3,-19.13,0.000012,1.79910,-1.43440,2.300927,280.63,43.64,2018-01-01 03:00:00,1,1,True
399579,2018,1,1,4,28.61,0.000000,3.84450,1.17800,4.020928,151.00,-33.50,2018-01-01 04:00:00,1,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410249,2018,12,31,19,10.00,0.000038,5.47210,2.26770,5.923372,359.90,51.50,2018-12-31 19:00:00,1,365,True
410250,2018,12,31,20,17.70,0.000000,-0.83881,0.99260,1.299560,78.50,17.36,2018-12-31 20:00:00,1,365,True
410251,2018,12,31,21,9.90,0.000014,6.98000,0.73590,7.018686,359.90,51.50,2018-12-31 21:00:00,1,365,True
410252,2018,12,31,22,15.64,0.000000,-0.51342,0.40313,0.652774,78.50,17.36,2018-12-31 22:00:00,1,365,True
410253,2018,12,31,22,-13.72,0.000000,0.92886,4.14320,4.246044,245.94,51.03,2018-12-31 22:00:00,1,365,True

In [26]:
#

In [28]:
import random
unique_weeks = rest.groupby(['year', 'week_num']).ngroup()
chosen_weeks = unique_weeks.sample(n=4, random_state=42)  # 'n=4' for 4 random weeks, 'random_state' for reproducibility
val_data = rest[rest.groupby(['year', 'week_num']).ngroup().isin(chosen_weeks)]
val_data

,year,month,day,hour,temperature(celsius),precipitation,u-wind,v-wind,wind-speed,longitude,latitude,datetime,week_num,day_num,X
40259,1983,10,31,1,10.52,3.725300e-09,8.45560,-1.66100,8.617197,359.90,51.50,1983-10-31 01:00:00,44,304,False
40260,1983,10,31,1,12.22,1.457900e-04,9.34570,-7.59720,12.044067,5.39,43.28,1983-10-31 01:00:00,44,304,False
40261,1983,10,31,2,4.32,3.725300e-09,2.29600,1.45610,2.718794,245.94,51.03,1983-10-31 02:00:00,44,304,False
40262,1983,10,31,2,8.22,3.730600e-09,7.37180,6.43620,9.786118,10.75,59.92,1983-10-31 02:00:00,44,304,False
40263,1983,10,31,4,-2.02,3.725300e-09,1.74330,0.64922,1.860264,286.01,40.75,1983-10-31 04:00:00,44,304,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378853,2016,1,17,19,9.40,0.000000e+00,7.49960,-12.49600,14.573744,5.39,43.28,2016-01-17 19:00:00,2,17,False
378854,2016,1,17,20,8.95,4.194800e-11,-1.61010,-5.51950,5.749548,12.46,41.90,2016-01-17 20:00:00,2,17,False
378855,2016,1,17,20,-3.21,2.251500e-04,3.71280,1.45220,3.986699,280.63,43.64,2016-01-17 20:00:00,2,17,False
378856,2016,1,17,21,8.84,6.060200e-11,-1.05920,-4.80570,4.921042,12.46,41.90,2016-01-17 21:00:00,2,17,False
378857,2016,1,17,22,-1.96,1.959100e-04,-0.28284,-1.33900,1.368546,286.01,40.75,2016-01-17 22:00:00,2,17,False

In [29]:
train_data = rest[~rest.groupby(['year', 'week_num']).ngroup().isin(chosen_weeks)]
train_data

,year,month,day,hour,temperature(celsius),precipitation,u-wind,v-wind,wind-speed,longitude,latitude,datetime,week_num,day_num,X
0,1980,1,1,1,-1.54,5.875300e-05,-1.56160,-3.39770,3.739380,10.75,59.92,1980-01-01 01:00:00,1,1,True
1,1980,1,1,3,23.40,0.000000e+00,1.04900,2.27480,2.505018,78.50,17.36,1980-01-01 03:00:00,1,1,True
2,1980,1,1,4,25.09,7.366600e-05,-1.24990,-1.83050,2.216524,283.20,18.00,1980-01-01 04:00:00,1,1,True
3,1980,1,1,4,18.23,5.502200e-05,12.25400,3.42530,12.723726,18.50,-33.90,1980-01-01 04:00:00,1,1,True
4,1980,1,1,5,-4.84,1.866400e-06,-0.92572,-0.86012,1.263631,280.63,43.64,1980-01-01 05:00:00,1,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399570,2017,12,31,21,20.77,-1.862600e-09,-0.69950,0.28813,0.756518,78.50,17.36,2017-12-31 21:00:00,52,365,False
399571,2017,12,31,21,-14.67,3.158700e-05,2.89350,-2.28120,3.684592,280.63,43.64,2017-12-31 21:00:00,52,365,False
399572,2017,12,31,22,2.59,5.339300e-05,0.46476,3.60640,3.636224,10.75,59.92,2017-12-31 22:00:00,52,365,False
399573,2017,12,31,22,22.22,3.835000e-05,3.89140,-1.32840,4.111890,151.00,-33.50,2017-12-31 22:00:00,52,365,False
399574,2017,12,31,23,-17.46,-1.862600e-09,4.09300,-2.43510,4.762600,286.01,40.75,2017-12-31 23:00:00,52,365,False

In [32]:
X_v = val_data[val_data["X"]]
y_v = val_data[~val_data["X"]]

In [31]:
X_tr = train_data[train_data["X"]]
y_tr = train_data[~train_data["X"]]

In [33]:
X_test = test_data[test_data["X"]]
y_test = test_data[~test_data["X"]]

In [ ]:

# Suppress only the ConvergenceWarnings specifically for sklearn
warnings.filterwarnings("ignore", category=ConvergenceWarning)

def validation_mlp(hls, epochs, batch_size, act_func, momentum, solver, decay):
    mlp = MLPRegressor(hidden_layer_sizes=hls, solver = solver, batch_size = batch_size, activation = act_func,  max_iter=1, warm_start=True)
    # Train the model
    losses = []
    for epoch in range(epochs):
        mlp.partial_fit(X_train, y_train)
        y_pred = mlp.predict(X_val)
        loss = mean_absolute_error(y_val, y_pred)
        print(f"epoch: {epoch}, loss: {loss}")
        losses.append(loss)
    return mlp, losses

mlp, loss_curve = validation_mlp((1,2,8,64), 100, 'auto', 'relu', 0.9, 'adam', 0.9)

In [18]:
# from sklearn.neural_network import MLPRegressor
# from sklearn.metrics import accuracy_score
# from sklearn.model_selection import learning_curve
# from sklearn.metrics import log_loss
# import warnings
# from sklearn.exceptions import ConvergenceWarning
# from sklearn.metrics import mean_absolute_error

# warnings.filterwarnings("ignore", category=ConvergenceWarning)

# def mlp_train():
#     mlp = MLPRegressor(early_stopping = True)
#     mlp.fit(X_tr,y_tr)
#     return mlp

In [22]:

# # Suppress only the ConvergenceWarnings specifically for sklearn
# warnings.filterwarnings("ignore", category=ConvergenceWarning)

# def validation_mlp(hls, epochs, batch_size, act_func, momentum, solver, decay):
#     mlp = MLPRegressor(hidden_layer_sizes=hls, solver = solver, batch_size = batch_size, activation = act_func,  max_iter=1, warm_start=True)
#     # Train the model
#     losses = []
#     for epoch in range(epochs):
#         mlp.partial_fit(X_train, y_train)
#         y_pred = mlp.predict(X_val)
#         loss = mean_absolute_error(y_val, y_pred)
#         print(f"epoch: {epoch}, loss: {loss}")
#         losses.append(loss)
#     return mlp, losses

# # mlp, loss_curve = validation_mlp((1,2,8,64), 100, 'auto', 'relu', 0.9, 'adam', 0.9)

In [23]:

# plt.plot(loss_curve)
# plt.xlabel('Epochs')
# plt.ylabel('Mean Squared Error')
# plt.title('Training Loss Curve')
# plt.grid(True)
# plt.savefig('foo.png')
# plt.show()

NameError: name 'loss_curve' is not defined

In [27]:
# from sklearn.decomposition import PCA

# pca = PCA(n_components = 5)
# pca.fit(X)
# print(pca.explained_variance_ratio_)

# pca.feature

[0.93261538 0.05049779 0.00674856 0.00435484 0.00270037]

array([[-2.71801155e-04,  3.06181357e-05,  4.74052017e-05,
         9.15394733e-05,  9.52402838e-08, -2.00753571e-03,
        -1.77329507e-04, -1.02870042e-03,  9.97613543e-01,
         6.90073389e-02],
       [ 7.40435553e-04,  3.22501813e-04,  8.90908656e-05,
        -7.09094600e-04,  3.44797823e-08, -8.25318656e-03,
         1.11775033e-02, -2.06887127e-03,  6.89842459e-02,
        -9.97518260e-01],
       [-9.99989884e-01,  9.68779829e-04, -1.21676056e-03,
         2.82965023e-03, -1.64335752e-07,  1.39819440e-03,
        -2.66879726e-03,  2.02923240e-04, -2.14736910e-04,
        -8.00821286e-04],
       [-1.22662018e-03,  3.26048484e-03,  9.99987477e-01,
        -1.62449239e-03,  9.18499990e-08, -2.27718352e-03,
         1.83051606e-03, -1.30957812e-03, -6.22903719e-05,
         1.28370444e-04],
       [-2.82564175e-03, -1.40359144e-03, -1.65492113e-03,
        -9.99616104e-01,  2.35925856e-07, -2.36954504e-02,
        -1.36818900e-02, -2.39035009e-03, -1.37050290e-05,
         7.54636386e-04]])